.sign-up ion-item {
    background: transparent;
    color: darkblue;
}

.sign-up ion-label,
.sign-up .label-md-primary {
    background: transparent;
    color: darkblue !important;
    margin-left: 5px;
}

.sign-up ion-input {
    background: white;
    color: darkblue !important;
    border: solid white 5px;
    border-radius: 5px;
}

.sign-up .item-inner {
    border-bottom: none !important;
}

.sign-up .btn-send-otp {
    background: darkblue;
    padding: 25px;
    font-size: medium;
    margin-top: 45px;
    border-radius: 5px;
    text-align: center;
}