<ion-content class="signup">
    <form class="sign-up" name="signupForm" novalidate (ngSubmit)="onSendOTP(signupForm)" [formGroup]="signupForm" padding>
        <!-- <ion-list> -->
        <ion-item>
            <ion-label color="primary" floating>Name</ion-label>
            <ion-input #txt_customername formControlName="customername" name="customername" (blur)="validate(txt_customername)"></ion-input>
        </ion-item>
        <div class="error" *ngIf="Errors.customername">
            {{Errors.customername}}
        </div>
        <ion-item>
            <ion-label color="primary" floating>Mobile number</ion-label>
            <ion-input #txt_mobileno formControlName="mobileno" name="mobileno" (blur)="validate(txt_mobileno)"></ion-input>
        </ion-item>
        <div class="error" *ngIf="Errors.mobileno">
            {{Errors.mobileno}}
        </div>
        <ion-item>
            <ion-label color="primary" floating>Email</ion-label>
            <ion-input #txt_email formControlName="email" name="email" (blur)="validate(txt_email)"></ion-input>
        </ion-item>
        <div class="error" *ngIf="Errors.email">
            {{Errors.email}}
        </div>
        <!-- <ion-item> -->
        <button type="submit" ion-button icon-start class="btn-send-otp">
                    <!-- <ion-icon name="star"></ion-icon> -->
                    Send OTP
                </button>
        <!-- </ion-item> -->
        <!-- </ion-list> -->
    </form>

</ion-content>