// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-app {
    //background-image: url(../assets/main_bk.gif);
    background-color: #00254b !important;
}

ion-navbar {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.app-title-container {
    width: 100%;
    //background: url(../assets/bg-app-title.jpg);
    background-color: #00254b !important;
}

.app-title {
    text-align: center;
    color: white;
    margin-top: 5px;
    padding: 5px;
}

.page-title-container {
    width: 100%;
    // background: url(../assets/bg-page-title.jpg);
    background-color: #065890 !important;
}

.page-title-container h4 {
    margin-bottom: 0px !important;
}

.page-title {
    color: #00254b;
    padding: 5px;
}

.page-container {
    margin-top: 90px;
    overflow: hidden;
    background-color: #065890 !important;
    background: url(../assets/water.png);
}

.app-footer {
    background-color: #003458 !important;
    color: white;
}

.footer-copyright {
    text-align: center;
}

.no-scroll {
    overflow: hidden;
}

div::-webkit-scrollbar {
    border: none;
    width: 0;
    background: rgba(0, 0, 0, 0);
}

div::-webkit-scrollbar-track {
    border: none;
    width: 0;
    background: rgba(0, 0, 0, 0);
}

div::-webkit-scrollbar-thumb {
    border: none;
    width: 0;
    background: rgba(0, 0, 0, 0);
}

ion-navbar .toolbar-background {
    background: transparent !important;
}


/* for Iphone */

.ios .ion-page.show-page~.nav-decor {
    background: transparent !important;
}