.products ion-item {
    height: 125px;
}

.products img {
    width: 65px;
    height: auto;
    float: left;
    padding: 10px 2px;
    margin: 0px;
}

.products ion-list {
    // overflow: scroll;
    margin-top: 20px;
    margin-bottom: 50px;
}

.products .item-seperator {
    clear: both;
    display: block;
    border-top: 1px solid lightgrey;
}